mixin title(title, icon)
  h4
    //- i.fa(class= icon)
    span.title= title
    a(href='#')
      i.fa.fa-plus-square-o

mixin text_input(label, value, units)
  - if (label != null)
    .control-label= label
  .controls.input-group
    input.form-control(type='text', value=value)
    span.input-group-addon!= units

mixin jog_panel(axis, icon, directions)
  .jog-panel(data-axis= axis)
    mixin title(axis.toUpperCase()+" Jog", icon)
    .directional-pad
      - each data, direction in directions
        .btn.btn-lg.btn-default(class='btn-#{direction}', data-direction=data[1], data-axis=data[0])
          i.fa(class='fa-chevron-#{direction}')
    .settings-popover.hide
      .form
        .control-group
          mixin text_input("Distance", 1, "mm")
        .control-group
          mixin text_input("Movement Speed", 1, "mm/s")

mixin extruders_panel
  .extruders-panel
    mixin title("Extruders", "fa-tint")
    each extruder in ["PLA", "ABS"]
      .side-row
        .btn-group.pull-right
          .btn.btn-default Extrude
          .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            span.caret
            span.sr-only Toggle Dropdown
          ul.dropdown-menu(role="menu")
            li
              a Retract
        .subtitle.pull-right
        .title= extruder

    .settings-popover.hide
      each extruder in ["PLA Extruder", "ABS Extruder"]
        .control-group
          mixin text_input(extruder, 0, "mm")
          mixin text_input(null, 0, "mm/s")

mixin temperature_panel
  .temperature-panel
    mixin title("Temperature Control", "fa-bar-chart-o")
    each extruder in ["PLA", "ABS", "Platform"]
      .side-row
        .pull-right
          input.switch-small(type="checkbox")
        .subtitle.pull-right 178 / 180&degC
        .title= extruder

    .settings-popover.hide
      each extruder in ["PLA", "ABS", "Platform"]
        .control-group
          mixin text_input(extruder, 0, "&deg;C")

.side-panel
  mixin jog_panel("xy", "fa-arrows-alt", {up: ['y', -1], left: ['x', -1], right: ['x', +1], down: ['y', +1]})
  mixin jog_panel("z", "fa-arrows-v", {up: ['z', -1], down: ['z', +1]})
  mixin temperature_panel
  mixin extruders_panel
.canvas-container
- //TODO: fan, conveyor, home

//- | <script id="shader-vs" type="x-shader/x-vertex">
//- include ../shaders/shader.vs.glsl
//- | </script>

//- | <script id="shader-fs" type="x-shader/x-fragment">
//- include ../shaders/shader.fs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-vs" type="x-shader/x-vertex">
//- include ../shaders/per-fragment-lighting.vs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-fs" type="x-shader/x-fragment">
//- include ../shaders/per-fragment-lighting.fs.glsl
//- | </script>

