mixin title(title, icon)
  h4
    //- i.fa(class= icon)
    span.title= title
    a.more-btn(href='#')
      i.fa.fa-plus-square-o

mixin text_input(label, value, units, model, onChange)
  - if (label != null)
    .control-label= label
  .controls.input-group
    input.form-control(type='number', value=value, ng-model="#{model}", ng-change="set(#{onChange})")
    span.input-group-addon!= units

mixin dpad(icon, distance, directions)
  .directional-pad
    if !icon
      .axis-name Z
    - each data, direction in directions
      - click = "move({"+data[0]+": "+data[1]+" * movement."+distance+"_distance})"
      .btn.btn-lg.btn-default(class='btn-#{direction}', ng-click=click)
        i.fa(class='fa-chevron-#{direction}')


mixin move_panel
  .jog-panel.sub-panel
    mixin title("Movement", icon)
    mixin dpad(true, "xy", {up: ['y', -1], left: ['x', -1], right: ['x', +1], down: ['y', +1]})
    mixin dpad(false, "z", {up: ['z', -1], down: ['z', +1]})
    .settings-popover.hide
      //- Home Buttons
      .btn-group
        button.btn.btn-default(ng-click="home(['x','y','z'])") Home All
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu(role="menu")
          each axes, title in {'X': ['x'], 'Y': ['y'], 'Z': ['z'], 'X and Y': ['x','y']}
            li
              a(href="#", ng-click="home(#{JSON.stringify(axes)})") Home #{title}
      //- Distance + Speed Fields
      .form
        each axis, title in {'X and Y': 'xy', 'Z': 'z'}
          .control-label= title
          .control-group
            mixin text_input(null, 1, "mm", "movement."+axis+"_distance", null)
          .control-group
            - feedrate = axis+"_feedrate"
            mixin text_input(null, 1, "mm/s", "p.axes."+feedrate, "'axes', '"+feedrate+"'")

mixin extruders_panel
  - extruders = "(k, comp) in extruders()"
  .extruders-panel.sub-panel
    mixin title("Extruders", "fa-tint")
    .side-row(ng-repeat = extruders)
      .btn-group.pull-right
        .btn.btn-default(ng-click="extrude(k, -1)") Reverse
        .btn.btn-default(ng-click="extrude(k, +1)") Extrude
      .subtitle.pull-right
      .title {{k|uppercase}}

    .settings-popover.hide
      .control-group(ng-repeat = extruders)
        span(ng-init="comp.distance=defaultExtrudeDistance")
        mixin text_input("{{k|uppercase}}", 0, "mm", "comp.distance", "k, 'distance'")
        mixin text_input(null, 0, "mm/s", "comp.flowrate", "k, 'flowrate'")

mixin temperature_panel
  - heaters = "(k, comp) in heaters()"
  .temperature-panel.sub-panel
    mixin title("Temperature", "fa-bar-chart-o")

    .side-row(ng-repeat = heaters)
      .pull-right
        input.switch-small(type="checkbox", toggle-switch=true, data-on="ON", data-off="OFF", data-display="comp.enabled", ng-click="set(k, 'enabled')")
      .subtitle.pull-right
        | {{comp.current_temp | number:1}} / {{comp.target_temp | number:1}}&degC
      .title {{k|uppercase}}

    .settings-popover.hide
      .control-group(ng-repeat = heaters)
        mixin text_input("{{k|uppercase}}", "0", "&deg;C", "comp.target_temp", "k, 'target_temp'")

.side-panel
  mixin move_panel
  mixin extruders_panel
  mixin temperature_panel
//- .canvas-container
#camera-canvas-container
  canvas.camera#camera-canvas(ng-if="hasCamera()")
  .no-camera.big-not-found(ng-if="!hasCamera()")
    | No Camera

//- | <script id="shader-vs" type="x-shader/x-vertex">
//- include ../shaders/shader.vs.glsl
//- | </script>

//- | <script id="shader-fs" type="x-shader/x-fragment">
//- include ../shaders/shader.fs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-vs" type="x-shader/x-vertex">
//- include ../shaders/per-fragment-lighting.vs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-fs" type="x-shader/x-fragment">
//- include ../shaders/per-fragment-lighting.fs.glsl
//- | </script>

