mixin title(title, icon)
  h4
    //- i.fa(class= icon)
    span.title= title
    a.more-btn(href='#')
      i.fa.fa-plus-square-o

mixin text_input(label, value, units, model)
  - if (label != null)
    .control-label= label
  .controls.input-group
    input.form-control(type='text', value=value, ng-model=model)
    span.input-group-addon!= units

mixin dpad(icon, directions)
  .directional-pad
    if !icon
      .axis-name Z
    - each data, direction in directions
      - click = "move({"+data[0]+": "+data[1]+" * axes."+directions.up[0]+".distance})"
      .btn.btn-lg.btn-default(class='btn-#{direction}', ng-click=click)
        i.fa(class='fa-chevron-#{direction}')


mixin move_panel
  .jog-panel.sub-panel
    mixin title("Movement", icon)
    mixin dpad(true, {up: ['y', -1], left: ['x', -1], right: ['x', +1], down: ['y', +1]})
    mixin dpad(false, {up: ['z', -1], down: ['z', +1]})
    .settings-popover.hide
      //- Home Buttons
      .btn-group
        button.btn.btn-default(ng-click="home(['x','y','z'])") Home All
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu(role="menu")
          each axes, title in {'X': ['x'], 'Y': ['y'], 'Z': ['z'], 'X and Y': ['x','y']}
            li
              a(href="#", ng-click="home(#{JSON.stringify(axes)})") Home #{title}
      //- Distance + Speed Fields
      .form
        each axis, title in {'X and Y': 'axes.y', 'Z': 'axes.z'}
          .control-label= title
          .control-group
            mixin text_input(null, 1, "mm", axis+".distance")
          .control-group
            mixin text_input(null, 1, "mm/s", axis+".speed")

mixin extruders_panel
  .extruders-panel.sub-panel
    mixin title("Extruders", "fa-tint")
    .side-row(ng-repeat="(k, comp) in extruders")
      .btn-group.pull-right
        .btn.btn-default {{extrudeText(comp.direction)}}
        .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu(role="menu")
          li
            a(ng-click="comp.direction = -comp.direction")
              | {{extrudeText(-1 * comp.direction)}}
      .subtitle.pull-right
      .title {{comp.name}}

    .settings-popover.hide
      .control-group(ng-repeat="(k, comp) in extruders")
        mixin text_input("{{comp.name}}", 0, "mm", "comp.distance")
        mixin text_input(null, 0, "mm/s", "comp.speed")

mixin temperature_panel
  .temperature-panel.sub-panel
    mixin title("Temperature", "fa-bar-chart-o")

    .side-row(ng-repeat="(k, comp) in heaters")
      .pull-right
        input.switch-small(type="checkbox", ng-model="comp.enabled")
      .subtitle.pull-right
        | {{comp.current_temp}} / {{comp.target_temp}}&degC
      .title {{comp.name}}

    .settings-popover.hide
      .control-group(ng-repeat="(k, comp) in heaters")
        mixin text_input("{{comp.name}}", "0", "&deg;C", "comp.target_temp")

.side-panel
  mixin move_panel
  mixin temperature_panel
  mixin extruders_panel
.canvas-container
- //TODO: fan, conveyor, home

//- | <script id="shader-vs" type="x-shader/x-vertex">
//- include ../shaders/shader.vs.glsl
//- | </script>

//- | <script id="shader-fs" type="x-shader/x-fragment">
//- include ../shaders/shader.fs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-vs" type="x-shader/x-vertex">
//- include ../shaders/per-fragment-lighting.vs.glsl
//- | </script>

//- | <script id="per-fragment-lighting-fs" type="x-shader/x-fragment">
//- include ../shaders/per-fragment-lighting.fs.glsl
//- | </script>

